.name {
  font-family: Arial, Helvetica, sans-serif
}

.description {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #2d4986;

}

.nacionality, .naturality, .living {
  text-decoration: underline;
  font-style: italic;
}

.englishSkills {
  font-size: 15px;
}

.organizationSkills {
  font-size: 18px;
}

.professionalSkills {
  font-size: 21px;
}

.communicativeSkills {
  font-size: 24px;
}