body {
  background-color: #c7cbd4;
  padding: 12px;
  font-family: 'Libre Baskerville', serif;
}

.name {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border: 4px solid rgb(44, 142, 255);
  border-radius: 20px;
  margin-top: 1px;
}

#myskills {
  font-style: italic;
}

#aboutme {
  font-size: 20px;
  font-style: italic;
}

#contactinformation {
  font-style: italic;
}

#somepictures {
  font-style: italic;
}

.imagedescription-container {
  height: 290px;
  
}

.imagedescription-container img {
  float: left;
  height: 250px;
  border-radius: 10px;
}

.imagedescription-container h2, p {
  position: relative;
  top: 90px;
  left: 8px;
  text-align: center;
}

.nacionality, .naturality, .living {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.habilities li:nth-child(odd) {
  font-style: oblique;
  border: 2px solid blue;
  }

.englishSkills {
  font-size: 15px;
}

.organizationSkills {
  font-size: 18px;
}

.professionalSkills {
  font-size: 21px;
}

.communicativeSkills {
  font-size: 24px;
  font-weight: bold;
}


